POT>=0.9.1
anndata>=0.10.2
annoy=1.17.0
h5py=3.9.0
matplotlib>=3.6.3
numpy>=1.25.2
scanpy>=1.7.2
scikit-learn>=1.2.2
scipy>=1.11.1
seaborn>=0.12.2
umap-learn>=0.5.4

torch=1.13.1
torch-cluster=1.6.1
torch-geometric=2.3.1
torch-scatter=2.1.1
torch-sparse=0.6.17

paste-bio=1.4.0
gpsa=0.8
stitch3d=1.0.3